@model HSB.Models.Story

@{
    ViewData["Title"] = "Tilføj";
}
<div style="height:55px"></div>

<h1>Tilføj historie</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateStory" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            
            <div class="form-group">
                <label asp-for="Headline" class="control-label"></label>
                <input asp-for="Headline" class="form-control" />
                <span asp-validation-for="Headline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyStory" class="control-label"></label>
                <input asp-for="MyStory" class="form-control" />
                <span asp-validation-for="MyStory" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="col-md-10">

                    <p>Upload billede:</p>
                    <input type="file" name="image">


                </div>
            </div>
            <div class="form-group" style="margin-top: 50px">

                <input type="submit" value="Gem" class="btn btn-primary" style="margin-right: 30px" />

                <button type="button" class="btn btn-info">
                    <a asp-action="Index" style="color: white;">Tilbage</a>
                </button>
            </div>
        </form>
    </div>
</div>

