@model HSB.Models.Donor

@{
    ViewData["Title"] = "Tilføj";
}

<div style="height:55px"></div>

<h4>Tilføj donor</h4>
<div style="height:15px"></div>

<hr />
<div class="row" style="font-size: 15px">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="RowVersion" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNo" class="control-label"></label>
                <input asp-for="PhoneNo" class="form-control" />
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpr" class="control-label"></label>
                <input asp-for="Cpr" class="form-control" />
                <span asp-validation-for="Cpr" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PrivacyNotice" /> @Html.DisplayNameFor(model => model.PrivacyNotice)
                    <span asp-validation-for="PrivacyNotice" class="text-danger"></span>
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Conditions" /> @Html.DisplayNameFor(model => model.Conditions)
                    <span asp-validation-for="Conditions" class="text-danger"></span>
                </label>
            </div>
            <div class="form-group" style="margin-top: 50px">

                <input type="submit" value="Gem" class="btn btn-primary" style="margin-right: 30px" />

                <button type="button" class="btn btn-info">
                    <a asp-action="Index" style="color: white;">Tilbage</a>
                </button>
            </div>
        </form>
    </div>
</div>
