@model HSB.Models.Case

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h4>Case</h4>
<hr />
<form asp-action="AddCase">

    <div class="row" style="font-size: 13px">
        <div class="col-md-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip" class="control-label"></label>
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">

            <div class="form-group">
                <label asp-for="Birthdate" class="control-label"></label>
                <input asp-for="Birthdate" class="form-control" />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNo" class="control-label"></label>
                <input asp-for="PhoneNo" class="form-control" />
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnosis" class="control-label"></label>
                <input asp-for="Diagnosis" class="form-control" />
                <span asp-validation-for="Diagnosis" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Story" class="control-label"></label>
                <input asp-for="Story" class="form-control" />
                <span asp-validation-for="Story" class="text-danger"></span>

            </div>


            <div class="form-group">
                <label asp-for="Parent" class="control-label"></label>
                <input asp-for="Parent" class="form-control" />
                <span asp-validation-for="Parent" class="text-danger"></span>
            </div>
            
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PrivacyNotice" /> @Html.DisplayNameFor(model => model.PrivacyNotice)
                    <a href="~/uploads/pdf/LoremIpsum.pdf" class="font-weight-bold">  Læs om vores persondatapolitik her</a>
                    <span asp-validation-for="PrivacyNotice" class="text-danger"></span>
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Conditions" /> @Html.DisplayNameFor(model => model.Conditions)
<a href="~/uploads/pdf/LoremIpsum.pdf" class="font-weight-bold">  Læs vores vedtægter her</a>
                    <span asp-validation-for="Conditions" class="text-danger"></span>
                </label>
            </div>
           
            <div class="form-group" style="margin-top: 20px">

                <input type="submit" value="Gem" class="btn btn-primary" style="margin-left: 50px" />

                <button type="button" class="btn btn-info">
                    <a asp-action="Index" style="color: white;">Tilbage</a>
                </button>
            </div>

        </div>
    </div>
</form>
