
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


    <h1>Vi har registreret din henvendelse og kontakter dig hurtigst muligt. Tak for det! </h1>
    <button type="button" class="btn btn-info">
        <a asp-action="Index" style="color: white;">Tilbage til hjemmesiden</a>
    </button>
