
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

    <h1>Du er blevet medlem af vores organisation.Tak for det! </h1>
    <button type="button" class="btn btn-info">
        <a asp-action="Index" style="color: white;">Tilbage</a>
    </button>
